:root {
    --text-white: #f8fdfd;
    --text-50-white: #b4c5c5;
    --dark-green: #00251c;
    --light-green: #2e7d74;
    --bright-green: #00b295;
    --green-404: #4fecd2;
    background-image: linear-gradient(to bottom right, var(--dark-green), var(--light-green));
    color: var(--text-white);
    margin: 0px;
}

html {
    min-height: 100%;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header,
footer {
    background-color: var(--dark-green);
    display: flex;
    justify-content: space-between;
    min-height: 6rem;
}

hr {
    margin: 0px;
    padding: 0px;
    color: var(--bright-green);
    height: 4px;
    background-color: var(--bright-green);
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-image: url('../img/endless-constellation.svg')
}

hr.page-end {
    position: fixed;
    bottom: 6rem;
    width: 100%
}

section {
    display: flex;
    margin-bottom: calc(6rem + 4px);
    justify-content: center;
}

nav {
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    align-items: center;
}

div.section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a {
    color: var(--text-white);
    text-decoration: none;
    margin: 2rem;
}

figure {
    max-width: 50%;
    margin-left: -10rem;
}

ul {
    font-size: 2.4rem;
    text-decoration: none;
    list-style: none;
    margin: 0px;
    padding-left: 0px;
}

span.color-text {
    color: var(--green-404);
    margin-top: -2rem;
}

p.left-bound {
    padding-left: 2rem;
    color: var(--text-50-white);
    font-family: 'Times New Roman', Times, serif;
}

li {
    margin-bottom: 4px;
}

a.page-nav-button {
    font-size: 1.5vw;
    margin: 0px;
    padding: 1rem;
    background-color: var(--dark-green);
    display: flex;
    align-items: center;
    width: min-content;
    border-radius: 1rem;
}

i.material-symbols-outlined {
    font-size: 1.5vw;
}

li.page-second {
    margin-left: 5rem;
}

h1 {
    margin: 4px;
    font-size: 3.5vw;
    color: var(--bright-green);
}

h2 {
    margin: 4px;
    margin-left: 5rem;
    font-size: 2.5vw;
}

h2.error-code {
    margin-left: 10rem;
    margin-bottom: 4rem;
}

i.right-icon {
    font-size: 4rem;
    margin-right: 2rem;
    margin-top: auto;
    margin-bottom: auto;
}

img {
    margin-right: -25%;
    margin-left: 25%;
}