:root {
    --text-white: #f8fdfd;
    --text-50-white: #b4c5c5;
    --dark-green: #00251c;
    --light-green: #2e7d74;
    --bright-green: #00b295;
    --green-404: #4fecd2;
    background-image: linear-gradient(to bottom right, var(--dark-green), var(--light-green));
    color: var(--text-white);
    margin: 0px;
}

/*-- Main Layout components (Grid for major components, flex internal) --*/
html {
    min-height: 100%;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6rem 4px 1fr 4px 6rem;
    min-height: 100vh;
    font-family: 'Oxanium', monospace;
}

header,
footer {
    background-color: var(--dark-green);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 6rem;
}

hr {
    grid-area: 2 / 1 / span 1 / span 1;
    margin: 0px;
    padding: 0px;
    color: var(--bright-green);
    height: 4px;
    background-color: var(--bright-green);
    border: 0px;
}

header {
    grid-area: 1 / 1 / span 1 / span 1;
}

footer {
    grid-area: 5 / 1 / span 1 / span 1;
    width: 100%;
    background-image: url('../img/endless-constellation.svg')
}

hr.page-end {
    grid-area: 4 / 1 / span 1 / span 1;
    width: 100%;
}

section {
    grid-area: 3 / 1 / span 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    align-items: center;
}

/*-- Text content in main section --*/
div.section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 15rem;
}

a {
    color: var(--text-white);
    text-decoration: none;
    margin: 2rem;
}

/*-- Image in section, on left --*/
figure {
    max-width: 50%;
    padding-left: -10rem;
}

img {
    margin-right: -25%;
    margin-left: 25%;
}

/*-- Smaller components within each major portion of the page --*/
ul {
    font-size: 2.4rem;
    text-decoration: none;
    list-style: none;
    margin: 0px;
    padding-left: 0px;
}

span.color-text {
    color: var(--green-404);
    margin-top: -2rem;
}

p.left-bound {
    padding-left: 2rem;
    color: var(--text-50-white);
    font-family: 'Times New Roman', Times, serif;
}

li {
    margin-bottom: 4px;
}

a.page-nav-button {
    font-size: 2rem;
    margin: 0px;
    padding: 1rem;
    background-color: var(--dark-green);
    display: flex;
    align-items: center;
    width: min-content;
    border-radius: 1rem;
}

i.material-symbols-outlined {
    font-size: 2.5rem;
}

li.page-second {
    margin-left: 5rem;
}

h1 {
    margin: 4px;
    font-size: 4rem;
    color: var(--bright-green);
}

h2 {
    margin: 4px;
    margin-left: 5rem;
    font-size: 2.5rem;
}

h2.error-code {
    margin-left: 10rem;
    margin-bottom: 4rem;
}

i.right-icon {
    font-size: 4rem;
    margin-right: 2rem;
    margin-top: auto;
    margin-bottom: auto;
}

/*-- CSS for mobile view --*/
@media screen and (max-width: 768px) {
    section {
        flex-direction: column-reverse;
    }

    div.section-content {
        margin: 4rem;
    }

    ul {
        margin-left: 30%;
    }

    figure {
        max-width: 90vw;
    }

    img {
        margin: 0px;
        margin-left: 10vw;
    }

    h1 {
        font-size: 10vw;
    }

    nav,
    i.right-icon,
    p.left-bound {
        font-size: 3vw;
        padding-left: 3vw;
    }

    nav.bottom-nav {
        padding-right: 0vw;
    }

    nav.botton-nav:last-child {
        padding-right: 3vw;
    }

    i.right-icon {
        display: none;
    }
}